@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --blue: #0089f8;
    --lightblue: #2cb9fd;
}

/* ----------- WEB STUFF ----------- */

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    transition: all 0.5s;
    font-family: 'Be Vietnam Pro', sans-serif;
}

body * {
    opacity: 0;
    transform: translateY(-30px);
    transition: transform 1s, opacity 1s;
}

.appeared {
    transform: translateY(0px);
    opacity: 1;
}

button {
    border: none;
    background-color: rgba(255, 255, 255, 0.705);
    padding: 11px;
    border-radius: 100px;
    color: black;
    transition: all 0.2s;
}


button:hover {
    background-color: rgba(0, 102, 255);
    color: white;
    transform: scale(1.04);
    cursor: pointer;
}

button:active {
    background-color: rgb(146, 146, 146);
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 6px;
    margin: 3px;
    padding: 3px;
    background-color: rgba(255, 255, 255, 0);
}
  
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0); 
}
   
::-webkit-scrollbar-thumb {
    background: #e7e7e7; 
    width: 6px;
    border-radius: 100px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #a7a7a7; 
    width: 6px;
    border-radius: 100px;
}

::selection {
    background-color: var(--lightblue);
    color: white;
}

/* ----------- HOME PAGE ----------- */

/* ------------------- LIGHT MODE -------------------- */

.light-mode {
    background-color: white;
    color: black;
}

.light-mode button {
    background-color: rgba(24, 24, 24, 0.8);
    color: white;
}

.light-mode button:hover {
    background-color: rgba(0, 102, 255);
    color: white;
    transform: scale(1.04);
    cursor: pointer;
}

.light-mode button:active {
    background-color: rgb(146, 146, 146);
    cursor: pointer;
}

.light-mode nav {
    background-color: rgb(218, 218, 218);
    box-shadow: 0 8px 8px -4px rgb(196, 196, 196);
}

.light-mode nav a {
    color: black;
}

.light-mode .landing {
    box-shadow: 0 8px 8px -4px rgb(145, 145, 145);
}

.light-mode .content div {
    box-shadow: 0 8px 8px -4px rgb(128, 128, 128);
}

.light-mode #about {
    box-shadow: 0 8px 8px -4px rgb(128, 128, 128);
}

.light-mode footer {
    background-color: rgb(216, 216, 216);
    box-shadow: 0 8px 8px -4px rgb(196, 196, 196);
    color: black;
}

.light-mode a {
    color: black;
}

/* ----------- NAV ----------- */

nav {
    background-color: rgb(20, 20, 20);
    font-family: 'Be Vietnam Pro', sans-serif;
    color: white;
    display: flex;
    height: 10vh;
    margin: 40px;
    padding: 10px;
    padding-left: 40px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 50px;
}

li, a {
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 20px;
    transition: all 0.2s;
}

nav a {
    background-color: rgba(255, 255, 255, 0.151);
    border-radius: 100px;
    padding: 12px;
}

nav a:hover {
    background-color: #0088f88c;
}

nav button {
    height: 43px;
    margin: 42px;
    font-size: 21px;
}

nav .buttons {
    display: inline-flex;
}

nav .hamburger {
    display: none;
    align-items: center;
}

@media screen and (max-width: 800px) {
    nav .hamburger {
        display: block;
    }

    nav li {
        display: none;
    }

    nav {
        margin: 25px;
    }
}

/* ------------------- LANDING PAGE -------------------- */

.landing {
    background-image: url('../img/bg.png');
    border-radius: 10px;
    color: white;
    display: flex;
    height: 80vh;
    font-family: 'Be Vietnam Pro', sans-serif;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px;
    flex-wrap: wrap;
    box-shadow: 0 8px 8px -4px rgb(31, 31, 31);
}

.landing h1 {
    font-size: 5vw;
}

.landing p {
    font-size: 1.5vw;
}

@media screen and (max-width: 1000px) {
    .landing h1 {
        font-size: 55px;
    }
    
    .landing p {
        font-size: 18px;
    }
}

@media screen and (max-width: 800px) {
    .landing {
        margin: 25px;
    }
}

/* ------------------- CONTENT -------------------- */

#content {
    display: flex;
    height: 100vh;
    background-size: cover;
    background-position: center;
    justify-content: left;
    align-items: left;
    text-align: left;
    font-family: 'Be Vietnam Pro', sans-serif;
    padding: 10px;
    padding-left: 65px;
    flex-wrap: wrap;
}

/* ------------------- CONTENT - PROJECTS -------------------- */

.content {
    display: grid;
    font-family: 'Be Vietnam Pro', sans-serif;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    grid-auto-rows: minmax(100px, auto);
    height: 80vh;
    padding: 40px;
    margin-left: -10px;
    flex-wrap: wrap;
}

.content div {
    color: white;
    background-image: linear-gradient(45deg, rgb(111, 57, 238), rgba(15, 169, 207, 0.801));
    border-radius: 10px;
    padding: 7px;
    padding-right: 18px;
    transition: all 0.3s ease;
    padding-left: 25px;
    opacity: 0.85;
    height: 100%;
    width: 100%;
    box-shadow: 0 8px 8px -4px rgb(46, 46, 46);
    flex-wrap: wrap;
}

.content div:hover {
    transform: scale(1.025);
    cursor: pointer;
    opacity: 1;
}

.content div p {
    font-size: 22px;
}

.content div h1 {
    font-size: 27px;
}

@media screen and (max-width: 1400px) {
    .content div p {
        font-size: 20px;
    }
    
    .content div h1 {
        font-size: 25px;
    }
}

@media screen and (max-width: 1100px) {
    .content div p {
        font-size: 18px;
    }
    
    .content div h1 {
        font-size: 22px;
    }
}

@media screen and (max-width: 950px) {
    .content div p {
        font-size: 16px;
    }
    
    .content div h1 {
        font-size: 20px;
    }
}

@media screen and (max-width: 800px) {
    .content {
        padding: 25px;
        height: 100vh;
        grid-template-columns: repeat(2, 1fr);
    }

    body {
        overflow-y: visible;
    }

    .content h1 {
        font-size: 25px;
    }

    .content p {
        font-size: 13px;
    }
}

@media screen and (max-width: 650px) {
    .content div p {
        font-size: 14px;
    }
    
    .content div h1 {
        font-size: 18px;
    }
}

@media screen and (max-width: 500px) {
    .content div p {
        font-size: 13px;
    }
    
    .content div h1 {
        font-size: 17px;
    }
}

@media screen and (max-width: 470px) {
    .content {
        height: 120vh;
        margin-bottom: 10px;
        grid-template-columns: repeat(1, 1fr);
    }

    .content div p {
        font-size: 12px;
    }
    
    .content div h1 {
        font-size: 16px;
    }
    
    body {
        overflow-y: visible;
    }
}

/* ------------------- ABOUT -------------------- */

#about {
    background-image: linear-gradient(to right, rgb(14, 60, 185), rgba(3, 154, 255, 0.26)), url('../img/about.jpg');
    padding: 70px;
    padding-top: 200px;
    border-radius: 10px;
    color: white;
    display: flex;
    height: 70vh;
    font-family: 'Be Vietnam Pro', sans-serif;
    background-size: cover;
    background-position: center;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: flex-start;
    margin: 40px;
    flex-wrap: wrap;
    box-shadow: 0 8px 8px -4px rgb(31, 31, 31);
}

#about h1 {
    font-size: 5vw;
}

#about p {
    font-size: 1.5vw;
}

@media screen and (max-width: 1000px) {
    #about h1 {
        font-size: 55px;
    }
    
    #about p {
        font-size: 18px;
    }
}

@media screen and (max-width: 800px) {
    #about {
        margin: 25px;
    }
}

.icons i, a {
    font-size: 50px;
    color: white;
    margin-right: 30px;
    margin-top: 30px;
    transition: color 0.3s;
}


.icons i:hover, a:hover, #linksButton:hover {
    color: var(--blue);
}

@media screen and (max-width: 1000px) {
    .icons i {
        font-size: 30px;
        color: white;
        margin: 20px;
        transition: color 0.3s;
    }

    #about {
        background-image: linear-gradient(to bottom, rgba(14, 60, 185, 0.986), rgba(3, 154, 255, 0.26)), url('../img/about.jpg');
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
    }
}

.links {
    margin: 40px;
    padding: 50px;
    background-color: var(--blue);
    font-size: 100px;
    border-radius: 10px;
    font-weight: 900;
    color: var(--lightblue);
    box-shadow: 0 8px 8px -4px rgb(31, 31, 31);
    transition: all 0.2s;
    
}

.links:hover {
    cursor: pointer;
    background-color: var(--lightblue);
    color: var(--blue);
}