@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --shadow: 0 8px 8px -4px rgba(27, 27, 27, 0.219);
    --bg-gradient: linear-gradient(45deg, rgb(34, 12, 85), rgb(3, 30, 51));
    --primary-gradient: linear-gradient(45deg, rgb(111, 57, 238), rgb(15, 169, 207));
    --text-gradient: -webkit-linear-gradient(45deg, rgb(111, 57, 238), rgb(15, 169, 207));
}

/* ----------- WEB STUFF ----------- */

html {
    scroll-behavior: smooth;
}

body {
    background-image: var(--bg-gradient);
    color: white;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    transition: all 0.5s;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.hidden {
    opacity: 0;
    filter: blur(2px);
    transform: translateY(20px);
    transition: all 0.5s cubic-bezier(1,.5,0,.5);
}

.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0px);
}

button {
    border: none;
    background-color: rgb(255, 255, 255);
    padding: 11px;
    border-radius: 100px;
    color: black;
    transition: all 0.2s;
}


button:hover {
    background-color: rgba(255, 255, 255, 0.671);
    color: rgb(0, 0, 0);
    transform: scale(1.06);
    cursor: pointer;
}

button:active {
    background-color: rgb(235, 235, 235);
    cursor: pointer;
    margin: 0;
    padding: 0;
}

button.showMenu {
    background-color: transparent;
    color: white;
}

button.showMenu:hover {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.658);
}

::-webkit-scrollbar {
    width: 6px;
    margin: 3px;
    padding: 3px;
    background-color: rgb(0, 0, 0);
}
  
::-webkit-scrollbar-track {
    background: black; 
}
   
::-webkit-scrollbar-thumb {
    background: #e7e7e7; 
    width: 6px;
    transition: all 0.5s;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #a7a7a7; 
    width: 6px;
}

::selection {
    background-color: white;
    color: black;
}

.break {
    flex-basis: 100%;
    height: 0;
}

/* ----------- NAV ----------- */

nav {
    background-color: transparent;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: white;
    display: flex;
    height: 10vh;
    padding: 10px;
    padding-left: 40px;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 50px;
}

li, a {
    padding: 10px;
    display: inline;
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 20px;
    transition: all 0.2s;
    padding-bottom: 25px;
}

nav a {
    font-size: 17px;
    position: relative;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}

nav a.selected {
    color: var(--lightblue);
}

nav a:hover {
    color: var(--blue);
}

nav button {
    height: 43px;
    margin: 42px;
    font-size: 21px;
}

nav button.showMenu {
    padding: 12px 13px 12px 13px;
}

@media screen and (max-width: 1000px) {
    nav a {
        font-size: 12px;
    }

    nav img {
        width: 40px;
    }

    nav button {
        height: 35px;
        margin: 42px;
        font-size: 13px;
    }
}

@media screen and (max-width: 800px) {
    nav .hamburger {
        display: block;
    }

    nav li {
        display: none;
    }
}

/* ------------------- LANDING PAGE -------------------- */

#landing {
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    height: 100vh;
    font-family: 'Be Vietnam Pro', sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#landing h1 {
    background: var(--text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 8rem;
    margin: 0;
    padding: 0;
}

.landingText {
    padding-bottom: 20vh;
    margin: 0;
}

#landing p {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1000px) {
    #landing h1 {
        font-size: 55px;
    }
    
    #landing p {
        font-size: 18px;
    }
}

/* ------------------- CONTENT - PROJECTS -------------------- */

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-left: 33px;
    padding-right: 43px;
    padding-bottom: 45px;
    background-color: rgba(0, 0, 0, 0.164);
}

.container {
    display: grid;
    font-family: 'Be Vietnam Pro', sans-serif;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    grid-auto-rows: minmax(100px, auto);
    height: 40vh;
    flex-wrap: wrap;
}

.container div {
    color: white;
    background-color: rgba(0, 0, 0, 0.603);
    border-radius: 10px;
    padding: 10px;
    padding-left: 30px;
    transition: all 0.3s ease;
    height: 100%;
    width: 100%;
    box-shadow: var(--shadow);
    flex-wrap: wrap;
}

.container div:hover {
    transform: scale(1.025) rotate(2deg) translateY(-15px);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.795);
}

.container div p {
    font-size: 22px;
}

.container div h1 {
    font-size: 27px;
}

@media screen and (max-width: 1400px) {
    .container div p {
        font-size: 20px;
    }
    
    .container div h1 {
        font-size: 25px;
    }
}

@media screen and (max-width: 1100px) {
    .container div p {
        font-size: 18px;
    }
    
    .container div h1 {
        font-size: 22px;
    }
}

@media screen and (max-width: 950px) {
    .container div p {
        font-size: 16px;
    }
    
    .container div h1 {
        font-size: 20px;
    }
}

@media screen and (max-width: 900px) {
    #content {
        padding: 0px;
        padding-left: 0px;
        padding-right: 5px;
        padding-bottom: 0px;
    }

    .container {
        padding: 25px;
        height: 80vh;
        grid-template-columns: repeat(2, 1fr);
    }

    body {
        overflow-y: visible;
    }

    .container h1 {
        font-size: 25px;
    }

    .container p {
        font-size: 13px;
    }
}

@media screen and (max-width: 650px) {
    .container div p {
        font-size: 14px;
    }
    
    .container div h1 {
        font-size: 18px;
    }
}

@media screen and (max-width: 500px) {
    .container div p {
        font-size: 13px;
    }
    
    .container div h1 {
        font-size: 17px;
    }
}

@media screen and (max-width: 470px) {
    .container {
        height: 120vh;
        margin-bottom: 10px;
        grid-template-columns: repeat(1, 1fr);
    }

    .container div p {
        font-size: 12px;
    }
    
    .container div h1 {
        font-size: 16px;
    }
    
    body {
        overflow-y: visible;
    }
}

/* ------------------- ABOUT -------------------- */

#about {
    padding: 70px;
    padding-top: 25vh;
    color: white;
    display: flex;
    height: 70vh;
    font-family: 'Be Vietnam Pro', sans-serif;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: flex-start;
    flex-wrap: wrap;
    background-image: linear-gradient(to TOP, #000000, #00000029);
}

#about h1 {
    background: var(--text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 8rem;
    margin: 0;
}

#about p {
    font-size: 1.5rem;
}

@media screen and (max-width: 1000px) {
    #about h1 {
        font-size: 55px;
    }
    
    #about p {
        font-size: 18px;
    }
}

.icons i, .icons a {
    font-size: 50px;
    color: white;
    transition: color 0.3s;
    padding: 0;
    display: inline-block;
    margin-right: 10px;
}

.fa-youtube:hover {
    color: #fd0000;
}

.fa-discord:hover {
    color: #5170ef;
}

@media screen and (max-width: 1000px) {
    .icons i {
        font-size: 30px;
        color: white;
        margin: 20px;
        transition: color 0.3s;
    }

    #about {
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
    }
}

/* ------------------- FOOTER -------------------- */

footer {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    background-color: black;
    color: white;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    padding-top: 200px;
    padding-bottom: 100px;
    margin: 0;
}

footer h1 {
    font-size: 8rem;
    padding-left: 70px;
    background: var(--text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

footer p {
    font-size: 1rem;
    padding-left: 70px;
    margin: 0;
}

@media screen and (max-width: 1200px) {
    footer h1 {
        font-size: 4rem;
    }
    
    footer p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 450px) {
    footer h1 {
        font-size: 3rem;
    }
    
    footer p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 300px) {
    footer h1 {
        font-size: 1.5rem;
    }
    
    footer p {
        font-size: 0.8rem;
    }
}